{% extends "base.html" %}

{% block content %}

<div class="container marketing">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://gravatar.com/avatar/29e17339e91003d23034611843ca1fa9?&s=64&rating=PG&d=https%3a%2f%2fwww.ohloh.net%2fanon80.gif" alt="Generic placeholder image">
          <h2>Mathieu Duponchelle</h2>
          <p style="text-align: justified">My name is Mathieu Duponchelle, I am one of the maintainers of Pitivi, an open source video editor built on top of GStreamer, that you might or might not have already heard about.<br>
          Last October, we released the first version of a major rework of the software, "0.91", the first one since two years.<br>
          We just released 0.92, which is a bugfix only release, and we now plan to have a tight release schedule, on a monthly basis, focusing on bugs until we deem the software stable enough to be named 1.0.<br><br>
          I write to you on behalf of the team, because we plan to launch a crowdfunding campaign before the end of the year, and we obviously feel like putting tech / linux news site in the loop is something that should be done as soon as possible. We have many interesting and exciting ideas regarding the campaign, and thought you might want to discuss them with us.<br>
          If you're interested, we would be happy to arrange hangouts / text interviews / barbecue / whatever and have an interesting chat with you.<br>
          Please note that we would like to keep that campaign reasonably secret until we launch it, and have faith in your discretion :)
          </p>
<!--          <p>We are <a href="https://www.ohloh.net/accounts/Mathieu_Du">Mathieu Duponchelle</a>,-->
             <!--<a href="https://www.ohloh.net/accounts/thiblahute">Thibault Saunier</a>,-->
             <!--and <a href="https://www.ohloh.net/accounts/kiddo"> Jean-François Fortin Tam </a>.-->
             <!--We are the current maintainers of the Pitivi video editor and the <a href="GES"> GStreamer Editing Services.</a></p>-->
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

{% endblock %}
