{% block content %}

<div class="jumbotron" style="z-index: 100; text-align: center;">
  <div class="container" style="max-width: 80%">
    <h1>Who are we?</h1>

    <div class="row jumbotron">
      <div class="col-lg-4">
        <img class="img-circle" height="140" width="140" src=
        "/static/images/mathieu.jpeg" alt="Mathieu">

        <h2>Mathieu Duponchelle</h2>

        <p class="indent" align="justify">Mathieu Duponchelle,
        Pitivi developer since 2010 is the one who started, the
        port to the <a href=
        "gstreamer-editing-services">GStreamer Editing
        Services</a> during the <a href=
        "http://en.wikipedia.org/wiki/Google_Summer_of_Code">Google
        summer of code</a> (GSoC) 2011. This work was achieved
        under Thibault Saunier mentoring. He has been since then
        very involved in the Pitivi project and is now a core
        member of the Pitivi community.</p>
        <!--Would be great to get some positive opinion to link to here!-->

        <p class="indent" align="justify">In 2013, he worked
        again as a GSoC student, this time in order to bring the
        port of Pitivi to GES to a releasable and usable state.
        Thanks to his hard work and his close collaboration with
        the GStreamer community, he fixed a ton of bugs in all
        the components of Pitivi and became a very active member
        of the GStreamer project as a whole.</p>
      </div>

      <div class="col-lg-4">
        <img class="img-circle" src=
        "/static/images/thibault.jpeg" alt=
        "Thibault">

        <h2>Thibault Saunier</h2>

        <p class="indent" align="justify">Thibault Saunier joined
        the PiTiVi project as a Summer of Code student in 2010
        and has been hooked ever since. He has been the main
        developer of the GStreamer Editing Services since 2011,
        and has been implementing all the feature that were
        needed by Pitivi but were not yet implemented at the time
        of the porting. He has been investing a massive amount of
        his free time making sure that Pitivi was going in the
        right direction and making sure the GStreamer Editing
        Services were the solid basis Pitivi needs to fully
        leverage the power of GStreamer.</p>
        <!--Would be great to get some positive opinion to link to here!-->

        <p class="indent" align="justify">Thibault as been
        working for <a href=
        "http://www.collabora.com/">collabora</a> since 2011 on
        GStreamer itself, and thus has pretty deep knowledge of
        the inside of the framework. He is <a href=
        "https://www.ohloh.net/p/gstreamer/contributors">one of
        the 5 main commiters</a> on GStreamer during the last 12
        moth.</p>
      </div>

      <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt=
        "Generic placeholder image">

        <h2>Jean-Francois Fortin Tam</h2>

        <p class="indent" align="justify">Please write it :)</p>
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
      </div>
    </div>
  </div>
</div>

<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Our engagment</h2>
      <p align="justify" class="indent">
      We are very passionate about the project, and this is why we are working on our free time.
      We worked on Pitivi and all its surrounding components for years now, and we believe
      that our track record should prove us competent to successfully complete the goals we
      are setting here.
      </p>
      <p align="justify" class="indent">
      During the project, we plan to make sure to inform the community of our progress,
      first on a daily basis on the #pitivi IRC channel on freenode, and then through regular blog
      posts (at least one every two weeks).
      </p>

    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/static/images/passion.jpeg" alt="Generic placeholder image">
    </div>

  </div>
</div>

{% endblock %}
