<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website for the 'Pitivi: Bring open source video edition to the next level' fundraising campaign">
    <meta name="author" content="Thibault Saunier <saunierthibault@gmail.com>">
    <link rel="shortcut icon" href="/static/ico/pitivi.png">

    <title>Pitivi: bringing open source video edition to the next level</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/carousel.css" rel="stylesheet">
    <link href="/static/css/pitivi-fundraiser.css" rel="stylesheet">

    {% block extend_head %}
    {% endblock %}
  </head>
  <body>
<!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar" role="navigation">
        <!--<div class="navbar navbar-default" data-offset-top="10">-->
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/#main">Pitivi fundraiser</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/#plan">The plan</a></li>
                <li><a href="/#donate">Donate</a></li>
                <li><a href="/#about-us">About us</a></li>
                 <!--FIXME add a metter here? -->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="the-plan">Detailed plan</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">technologies<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#tech-overview">Technological overview</a></li>
                    <li><a href="/gstreamer">GStreamer</a></li>
                    <li><a href="#">GStreamer Editing Service</li>
                    <li><a href="#">Pitivi video editor</a></li>
                    <li><a href="quality-assurance">Quality Assurance</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img align="center" src="/static/images/pitivi-fundraising.png" alt="banner.">
          <img style="align: center; max-height:30%; min-height:1%; top:23%; left: 35%; max-width:30%; width: auto; height: auto; min-width: 1%; position: relative; display: block;" src="/static/images/fundraiser-logo.png" alt="logo">
          <div class="carousel-caption">
            <div class="progress active">
              <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
              <h3 style="margin-top: 10px;"> 0 / 100 000 €</h3>
              </div>
            </div>
            <p>Please help us reach <a href="#main">our goal</a>:  <a class="btn btn-lg btn-primary" href="/donate"role="button">Donate now</a></p>
          </div>
        </div>
        <div class="item">
          <img align="center" src="/static/images/pitivi-fundraising.png" alt="banner.">
          <img style="align: center; max-height:30%; min-height:1%; top:23%; left: 35%; max-width:30%; width: auto; height: auto; min-width: 1%; position: relative; display: block;" src="/static/images/fundraiser-logo.png" alt="logo">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p>The pitivi project started in 2004, we have been working building the basis for almost 10 years...<br><b>now</b> is time to go wider</p>
              <p><a class="btn btn-lg btn-primary" href="http://en.wikipedia.org/wiki/Pitivi#History" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img align="center" src="/static/images/pitivi-fundraising.png" alt="banner.">
          <img style="align: center; max-height:30%; min-height:1%; top:23%; left: 35%; max-width:30%; width: auto; height: auto; min-width: 1%; position: relative; display: block;" src="/static/images/fundraiser-logo.png" alt="logo">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    {% block content %}
    {% endblock %}

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/holder.js"></script>
    <script>
      $(document).ready(function(){
          $('.image').click(function(){
              $(this).css('width','100%');  // original width is 500px 
          });
      });

    </script>
  </body>
</html>
