<div class="jumbotron stripe blurypitivi" data-stellar-background-ratio="0.5">
  <a target="_blank"  class="credit" href="https://secure.flickr.com/photos/ptrktn/4233596678/" data-toggle="popover" data-trigger="hover" data-placement="left" data-content='"The First Sunrise of 2010" licensed on CC-BY 2.0'></a>
  <div class="container">
  <div class="container" style="max-width: 80%">
    <div class="center" style="margin-bottom: 4%; z-index: 10">
      <h1>Project budget</h1>
    </div>
  </div>

    {% include "progress.html" %}
    <!--<h3 id="alreadycollected">We've already collected <strong> 0 Euros </strong>, thanks to...</h3>-->
  </div>
</div>

