<div class="jumbotron stripe sunrise" id="donate" data-stellar-background-ratio="0.5">
  <a target="_blank"  class="credit" href="https://secure.flickr.com/photos/ptrktn/4233596678/" data-toggle="popover" data-trigger="hover" data-placement="left"></a>
  <div class="container">
    <h2 class="h1">Project budget</h2>

    <h3 id="alreadycollected">We've already collected <strong> 0 Euros </strong>, thanks to...</h3>
    <p style="margin: 40px 0 10px; font-size: 0.95em">
    If you want to know everything about what we are planning to do with that money, you can
    access the <a href="/the-plan">detailed plan</a>
    </p>
    <div class="meter orange" style="text-align: center">
        <span style="width: 50%"><b>50000€ raised</b></span>
    </div>
    <div class="legend">
      <p style="left: 0">0</p>
      <p style="left: 18%"><span style="margin-left: -100%;">200</p>
        <p style="left: 90%"><span style="margin-left: -100%;">1&nbsp;000</p>
        </div>

        <!--<p class="center" style="margin: 40px 0 10px; font-size: 2em">Let' more than <strong>1 000 devices</strong>!</p>-->
        <!--<p class="center" style="margin: 10px 0 40px;">Your donation will also serve as a rebate for a finished device.</p>-->


        <div class="center">
          <a class="btn btn-primary btn-lg" href="">Donate now!</a>
        </div>
        <div class="center" style="font-size: 0.6em">
          <a target="_blank" style="color: white" href="FIXME/trouble/with/donations">Troubles with donation?</a>
        </div>
      </div>
    </div>
  </div>
</div>

