{% extends "base.html" %}

{% block extend_head %}

    <style type="text/css">
    .animation-size-for-iframe {
        /* Note that the width and height should match the dimensions of your animation to display correctly */
        width: 1024px;
        height: 768px;
    }
    iframe {
        border-width: 0;
    }
    </style>
    <script type="text/javascript" src="/static/gst-animation/embed/senchaAnimatorEmbed.js"></script>

{% endblock %}

{% block content %}


<hr id="gst-animation" class="featurette-divider"/>

<div class="container marketing">
  <h2 style="align: center" class="featurette-heading">GStreamer: <span class="text-muted"> How does it work, and why is it so great?</h2>
  <div id='manual-animation'></div>
</div>

<script type="text/javascript">
  var manualAnimationDiv = AN.PageManager.loadAnimation('manual-animation', "/static/gst-animation", {
      onBeforeRun: function(instance, config) {
          console.log('-------- before run div ---------');
      },
      onLoad: function(instance) {
          console.log('-------- on load div ---------');
      },
      onError: function() {
          console.log('-------- on error div ---------');
      }
  });
  var manualAnimationIframe = AN.PageManager.loadAnimation('manual-animation-2', "/static/gst-animation", {
      onLoad: function(instance) {
          console.log('-------- on load iframe ---------');
      },
      onError: function() {
          console.log('-------- on error iframe ---------');
      }
  });
</script>
{% endblock %}
