{% extends "base.html" %}

{% block extend_head %}

    <style type="text/css">
    .animation-size-for-iframe {
        /* Note that the width and height should match the dimensions of your animation to display correctly */
        width: 1024px;
        height: 768px;
    }
    iframe {
        border-width: 0;
    }
    </style>
    <script type="text/javascript" src="/static/gst-animation/embed/senchaAnimatorEmbed.js"></script>

{% endblock %}

{% block content %}

    <div class="container marketing">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/static/docs-assets/images/Gstreamer-logo.svg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">GStreamer: <span class="text-muted"> the state of the art open source multimedia framework.</h2>
          <p>GStreamer is the leading open source multimedia framework for aroud 10 years now. In the last five years it arrives to a level a maturity where it started to bee used as the core multimedia system for major product in the multimedia industry. Many major hardware vendors such as Intel, Samsung, Sony, and many other smaller ones have been and are working hard on making GStreamer the solid framework it is nowadays, integrating and making use of it in their products.</p>
          <p class="lead"><p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div id='manual-animation'></div>
          <h2 style="align: center" class="featurette-heading">GStreamer: <span class="text-muted"> How does it work, and why is it so great?</h2>
      <iframe id='manual-animation-2' class="animation-size-for-iframe"></iframe>

    </div>
    <!-- more sample usage (needs valid paths to work) -->
    <!-- <div data-sencha-anim-url="path/to/exportFolder"></div> -->
    <!-- <iframe class="animation-size-for-iframe" data-sencha-anim-url="path/to/exportFolder"></iframe> -->

    <!-- if you want to manually add animations using the sdk you can do the following after the script has been included -->
    <!-- Usage: AN.PageManager.loadAnimation(elementId/element, relativePathToExportFolder [, config]); -->
    <script type="text/javascript">
        var manualAnimationDiv = AN.PageManager.loadAnimation('manual-animation', "../", {
            onBeforeRun: function(instance, config) {
                console.log('-------- before run div ---------');
            },
            onLoad: function(instance) {
                console.log('-------- on load div ---------');
            },
            onError: function() {
               console.log('-------- on error div ---------');
            }
        });
        var manualAnimationIframe = AN.PageManager.loadAnimation('manual-animation-2', "../", {
            onLoad: function(instance) {
                console.log('-------- on load iframe ---------');
            },
            onError: function() {
                console.log('-------- on error iframe ---------');
            }
        });
    </script>
{% endblock %}
