{% extends "base.html" %}

{% block content %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="/static/docs-assets/images/mathieu.jpeg" alt="Generic placeholder image">
      <h2>Mathieu Duponchelle</h2>
      <p style="text-align: justified">
       Mathieu Duponchelle is a student in Epitech Paris. He contributes to pitivi and GStreamer since 2010, and, as of September 2013, is finishing a Google Summer of Code which purpose was to eliminate as many bugs as possible across the multimedia stack.
      </p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" src="/static/docs-assets/images/thibault.jpeg" alt="Generic placeholder image">
      <h2>Thibault Saunier</h2>
      <p style="text-align: justified">
        Thibault Saunier joined the PiTiVi project as a Summer of
        Code student in 2010 and has been hooked ever since.
        He now maintains and leads PiTiVi, GNonLin and GStreamer
        Editing Services development.<br>
      </p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">

      <h2 class="featurette-heading">Who are you? <span class="text-muted" style="font-size: 40%">and how dare you?</span></h2>
      <p class="lead"> We are <a href="https://www.ohloh.net/accounts/Mathieu_Du">Mathieu Duponchelle</a>,
         <a href="https://www.ohloh.net/accounts/thiblahute">Thibault Saunier</a>,
         and <a href="https://www.ohloh.net/accounts/kiddo"> Jean-François Fortin Tam </a>.
         We are the current maintainers of the Pitivi video editor and the <a href="GES"> GStreamer Editing Services.</a></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>


    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
</div>
{% endblock %}
