{% extends "base.html" %}

{% block content %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" height=140 width=140 src="/static/images/mathieu.jpeg" alt="Generic placeholder image">
      <h2>Mathieu Duponchelle</h2>
      <p class="indent" align="justify">
        Mathieu Duponchelle, Pitivi developer since 2010 is the one who started, the port to the
        <a href="gstreamer-editing-services">GStreamer Editing Services</a>
        during the <a href="http://en.wikipedia.org/wiki/Google_Summer_of_Code">Google summer of code </a>
        (GSoC) 2011.  This work was achieved under Thibault Saunier mentoring. He has been since then
        very involved in the Pitivi project and is now a core member of the Pitivi community.
      </p>
       <!--Would be great to get some positive opinion to link to here!-->
      <p class="indent" align="justify">
        In 2013, he worked again as a GSoC student, this time in order to bring the port of Pitivi to GES to a releasable and usable state. Thanks to his
        hard work and his close collaboration with the GStreamer community, he fixed a ton of bugs in all the components of Pitivi and
        became a very active member of the GStreamer project as a whole.
      </p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" src="/static/images/thibault.jpeg" alt="Generic placeholder image">
      <h2>Thibault Saunier</h2>
      <p class="indent" align="justify">
        Thibault Saunier joined the PiTiVi project as a Summer of
        Code student in 2010 and has been hooked ever since. He has been
        the main developer of the GStreamer Editing Services since 2011,
        and has been implementing all the feature that were needed by
        Pitivi but were not yet implemented at the time of the porting.
        He has been investing a massive amount of his free time making sure
        that Pitivi was going in the right direction and making sure the
        GStreamer Editing Services were the solid basis Pitivi needs to
        fully leverage the power of GStreamer.
      </p>
       <!--Would be great to get some positive opinion to link to here!-->
      <p class="indent" align="justify">
        Thibault as been working for <a href="http://www.collabora.com/">collabora</a> since
        2011 on GStreamer itself, and thus has pretty deep knowledge of the inside of the
        framework. He is <a href="https://www.ohloh.net/p/gstreamer/contributors">one of the 5 main commiters</a>
        on GStreamer during the last 12 moth.
      </p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
      <h2>Jean-Francois Fortin Tam</h2>
      <p class="indent" align="justify">
        Please write it :)
      </p>
      <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
    </div>
  </div>

  <hr class="featurette-divider">

<!--  <div class="row featurette">-->
    <!--<div class="col-md-5">-->
      <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
    <!--</div>-->

    <!--<div class="col-md-7">-->
      <!--<h2 class="featurette-heading">The reason of our action</h2>-->
      <!--<p class="lead indent" align=justify>-->
        <!--In order to take our efforts to the next level and truly make-->
        <!--Pitivi the rock-solid video editing tool that we all deserve,-->
        <!--we need to be allowed work on it full-time.-->
        <!--When Mathieu was assigned to the GES and Pitivi projects full-time as-->
        <!--part of his Summer of Code 2013 project, the pace of development, the-->
        <!--quality of our architecture and the reliability of the software skyrocketed.-->
        <!--It is largely in thanks to Mathieu's efforts that we have been able to finally-->
        <!--release Pitivi 0.91 at the end of the summer,-->
        <!--which is the most significant release milestone achieved-->
        <!--in [years of video editing] [> i/history.png <] on Linux.-->
      <!--</p>-->

      <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
    <!--</div>-->

    <!--<hr class="featurette-divider">-->

    <!--<div class="col-md-7">-->

      <!--<h2 class="featurette-heading">The goals</h2>-->


      <!--<br> <br>-->
      <!--<p class="lead indent" align=justify>-->
      <!--<p class="lead indent" align=justify>-->
      <!--Reaching "Level 4" is our true goal. With such an amount of focused work, we can deliver absolutely jawdropping, professional-grade results, thanks to the significant technological investments we have made in GStreamer over the past few years and our unmatched experience in the field. After that, we will finally have reached the legendary "99% done" status, where remaining features and bugfixes are easy to implement and maintain.-->
      <!--</p>-->

      <!--<p class="lead indent" align=justify>-->
      <!--This is a *very* brief overview of what we have in mind. Please take a look at our proposed [modular roadmap], with complete estimates provided at a 87% certainty. That means we are extremely confident in being able to deliver the items listed there within the specified amounts of time.-->
      <!--</p>-->

      <!--<p class="lead indent" align=justify>-->
      <!--Over the past few months, we have already built the majority of an extensive testing and validation architecture. We aim to roll it out as an integral part of our continued development effort to ensure everything is thoroughly tested and regressions avoided as much as possible.-->
      <!--</p>-->

      <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
    <!--</div>-->

    <!--<div class="col-md-5">-->
      <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
    <!--</div>-->

  <!--</div>-->

  <!--<hr class="featurette-divider">-->

  <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-5">
        <a href="/static/images/pitivi-professional.png">
          <img class="featurette-image img-responsive" src="/static/images/pitivi-professional-scales.png" alt="Generic placeholder image">
        </a>
      </div>
      <div class="col-md-7">

        <h2 class="featurette-heading">The goal: <span class="text-muted">provide a <b>professional</b> class, yet <b>simple</b> to use video editor to the community</span></h2>

        <p align="justify" class="indent">
          With this fundraising campaign, our goal is to bring Open Source video edition
          to the next level. The Pitivi cummunity aims at bringing the effort of all the
          industry around GStreamer to the multimedia edition world. This goal is not easy
          but we are already on track, have the fundation, and already know that this goal
          is reachable.
        </p>
        <br><br>
      </div>
    </div>
    <div>
      <h2 align=justify>
        <i>We believe that <b>now</b> that we have all the infrastucture in place on the
        different fronts, <a href="quality-assurance">Quality Assurance</a>, proper division of the codebase,
        and a full community of companies working on the stack,
        it is perfect time to <a href="the-plan">think bigger</a>!</i>
      </p>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">The reason of our action</h2>
        <p align="justify" class="indent">

          In order to take our efforts to the next level and truly make
          Pitivi the rock-solid video editing tool that we all deserve,
          we need to be allowed work on it full-time.
          When Mathieu was assigned to the GES and Pitivi projects full-time as
          part of his Summer of Code 2013 project, the pace of development, the
          quality of our architecture and the reliability of the software skyrocketed.
          It is largely in thanks to Mathieu's efforts that we have been able to finally
          release Pitivi 0.91 at the end of the summer,
          which is the most significant release milestone achieved
          in [years of video editing] <!-- i/history.png --> on Linux.

        </p>
      </div>
      <div class="col-md-5">
        <a href=http://rajivawijesinha.files.wordpress.com/2010/08/taj-mahal.jpg>
          <img class="featurette-image img-responsive" src="http://rajivawijesinha.files.wordpress.com/2010/08/taj-mahal.jpg" alt="Generic placeholder image">
        </a>
      </div>
  </div>

  <hr class="featurette-divider">
</div>

{% endblock %}
