{% extends "base.html" %}

{% block content %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div id="main" class="jumbotron" style="z-index: 100; text-align: center;">
  <div class="container" style="max-width: 80%">
    <div style="margin-top: 4%; z-index: 10">
      <h1>The goal: <span class="text-muted">provide a <b>professional</b> class, yet <b>simple</b> to use video editor to the community</span></h1>
      <div style="max-width: 900px; margin: 0 auto">
        <img src="/static/images/pitivi-professional.png" style="max-width: 100%" />
      </div>
      <p style="margin-top:20px">
      With this fundraising campaign, our goal is to bring Open Source video edition
      to the next level. The Pitivi community aims at bringing the effort of all the
      industry around GStreamer to the multimedia edition world. This goal is not easy
      but we are already on track, have the foundation, and already know that this goal
      is reachable.
      </p>
      <a class="btn btn-primary btn-lg smooth btn-progress" href="/donate">Donate now!<!--<div class="btn-progressbar"></div>--></a>
    </div>
  </div>
</div>

<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">The reason of our action</h2>
      <p align="justify" class="indent">

      In order to take our efforts to the next level and truly make
      Pitivi the rock-solid video editing tool that we all deserve,
      we need to be allowed work on it full-time.
      When Mathieu was assigned to the GES and Pitivi projects full-time as
      part of his Summer of Code 2013 project, the pace of development, the
      quality of our architecture and the reliability of the software skyrocketed.
      It is largely in thanks to Mathieu's efforts that we have been able to finally
      release Pitivi 0.91 at the end of the summer,
      which is the most significant release milestone achieved
      in [years of video editing] <!-- i/history.png --> on Linux.

      </p>

    </div>
    <div class="col-md-5">
      <a href=http://rajivawijesinha.files.wordpress.com/2010/08/taj-mahal.jpg>
        <img class="featurette-image img-responsive" src="/static/images//taj-mahal.jpeg" alt="Generic placeholder image">
      </a>
    </div>

  </div>
  <div class="" style="max-width: 80;">
    <h2 class="indent" align="justify">
      <p>
      <i>We believe that <b>now</b> that we have all the infrastucture in place on the
        different fronts, <a href="quality-assurance">Quality Assurance</a>, proper division of the codebase,
        and a full community of companies working with us,
        it is perfect time to <a href="the-plan">think bigger</a>!</i>
      </p>
    </h2>
  </div>
</div>

<hr id="about-us"> 

{% include "about-us.html" %}

<hr id="plan">

{% include "plan-market.html" %}

<hr id="donate">

{% include "donate-simple.html" %}

<hr id="tech-overview">

{% include "tech-overview-simple.html" %}

{% endblock %}
