<div>
  <div class="progress active">
    <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
      <h3 style="margin-top: 10px;"></h3>
    </div>
  </div>
  <div class="legend">
    <p style="left: 0">0 € collected yet</p>
    <!--<p style="left: 30%"><span style="margin-left: -100%;">0 collected yet</p>-->
    <p style="left: 95%"><span style="margin-left: -100%;">100&nbsp;000 €</span></p>
  </div>

  <!--<p class="center" style="margin: 40px 0 10px; font-size: 2em">Let' more than <strong>1 000 devices</strong>!</p>-->
  <!--<p class="center" style="margin: 10px 0 40px;">Your donation will also serve as a rebate for a finished device.</p>-->


  <div class="center">
    <a class="btn btn-primary btn-lg" href="/donate">Donate now!</a>
  </div>
  <div class="center" style="font-size: 0.6em">
    <a target="_blank" style="color: white" href="FIXME/trouble/with/donations">Troubles with donation?</a>
  </div>
</div>

